.footer{
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: white;
    overflow: hidden;
}
.item {
   font-size: 18px; 
   float: left;
   width: 20%;
   height: 50px;
   text-align: center;
   line-height: 50px
}
